/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: white
	

}
.container {
  margin: 100px;
}

h1, h2, h3, h4, h5, h6, p { 
  color: #333;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
h1 {
  font-size: 53px;
  text-align: center;
}
h2 {
  font-size: 34px;
  text-align: center;
}
h3 {
  font-size: 27px;
}  
p {
  font-size: 17px;
}   

h1 {
	font-size: 25px;

}
heading {
	text-align: center;
	font-size: 40px;
}
body {
	background-color: #f3f3f0;
	background-image: url(pictures/mike-adeleke);
	color: 355465;
	padding: 100px;
}
div {
	background-color: white;
	border-top: 10px;
	margin: auto;
	text-align: center;
}
body {
	background-color: gray;
	font-family: Georgia, serif;
	font-size: 20px;
	line-height: 27px;
	width: 700px;
	margin: 0px auto;

}
h2 {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 30px;
	text-transform: uppercase;
	border: 1px solid #fff;
}
aside {
	text-align: right;
}
ul {
	list-style: none;
}
ul li {
	margin-bottom: 25px;
}
ul {
	text-align: center;
	line-height: 22px;
	margin-bottom: 40px;
	margin-top: 33px;
}
